<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GAE React Flux Todos</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/dist/css/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="main" class="container"></div>
        <script src="/dist/js/main.js"></script>
    </body>
</html>
